<!DOCTYPE html>
<html ng-app="ngApp">
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="description" content="林志玲微商，团队CEO王丹霞，专注林志玲面膜和林志玲水光针，带领微商团队。">
        <meta name="keywords" content="林志玲微商，林志玲面膜怎么样，林志玲面膜，林志玲水光针，林志玲水光菁华，林志玲女神之吻面膜，林志玲肌密面膜，林志玲面膜官网，林志玲水光菁华官网，林志玲水光菁华代理，林志玲女神之吻面膜代理，林志玲肌密面膜代理，林志玲面膜代理，林志玲水光针代理">
        <meta name="viewport" content="width=device-width">
        <title>林志玲微商-林志玲水光针-林志玲面膜</title>
        <script src="assets/js/angular.min.js"></script>
        <!--<script src="assets/js/angular.js"></script>-->
        <script src="assets/js/controllers.js"></script>
        <link rel="stylesheet" href="assets/css/swiper-3.3.1.min.css" />
        <link rel="stylesheet" href="assets/css/index.css" />
    </head>
    <body ng-controller="IndexCtrl">
        <header>
            <nav></nav>
        </header>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img ng-src="{{datas.mainImages[0]}}" alt="轮播图片" title="轮播图片"/></div>
                <div class="swiper-slide"><img ng-src="{{datas.mainImages[1]}}" alt="轮播图片" title="轮播图片"/></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="top-div">
            <img ng-src="{{datas.topImages.url}}" alt="{{datas.topImages.alt}}" title="{{datas.topImages.alt}}" />
        </div>
        <div class="content clear-fix">
            <div class="left">
                <img ng-src="{{datas.phoneImages.url}}" alt="{{datas.phoneImages.alt}}" title="{{datas.phoneImages.alt}}" />
                <article ng-repeat="img in datas.leftImages">
                    <aside class="left-ar-t">{{img.title}}</aside>
                    <aside class="left-ar-c"><img ng-src="{{img.url}}" alt="{{img.alt}}" title="{{img.alt}}" /></aside>
                </article>
            </div>
            <div class="right">
                <section ng-repeat="cont in datas.rightContent">
                    <h2>{{cont.title}}</h2>
                    <p ng-if="cont.text.length == 1 && !cont.isTable" ng-repeat="txt in cont.text" ng-bind-html="txt|toTrusted">{{txt}}</p>
                    <p ng-if="cont.text.length > 1 && !cont.isTable" ng-repeat="txt in cont.text" ng-bind-html="txt|toTrusted">{{txt}}}</p>
                    <table>
                        <tr ng-if="cont.isTable" ng-repeat="txt in cont.text">
                            <th ng-bind-html="txt[0]|toTrusted">{{txt[0]}}</th>
                            <td>{{txt[1]}}</td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
        <footer>
            <div class="foot">Copyright © 2014-2018,All rights reserved 慈溪烨利商贸有限公司 版权所有 © 未经许可 严禁复制  联系地址：慈溪市横河镇东上河村西跃马桥10号</div>
        </footer>
    </body>
    <script src="assets/js/swiper-3.3.1.min.js"></script>
    <script>
        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            autoplayDisableOnInteraction : false,    //用户操作swiper之后，是否禁止autoplay。默认为true：停止。
            autoplay: 3000,//可选选项，自动滑动
            // 如果需要分页器
            //pagination: '.swiper-pagination',
            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
        })
    </script>
</html>